
  <header>
    <!--Responsive Navigation Bar-->
    <div class="shadow-sm ">
      <div class="container">
        <ul class="list-group list-group-horizontal ">
          <li class="list-group-item boderless"><small> Hi! <a href="#">Sign in</a> or <a href="#">register</a></small>
          </li>
          <li class="list-group-item boderless"><small><a href="#">Sell</a></small></li>
          <li class="list-group-item boderless"><small><a href="#">Help & Contact Us</a></small></li>
        </ul>
      </div>
    </div>

    <div class="container bg-white margin-top">
      <nav class="navbar navbar-expand-lg navbar-light bg-muted">
        <a class="navbar-brand" href="#">
          <div class="logo">B</div>
          BitTrade
        </a>
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Text input with dropdown button">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Dropdown</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div role="separator" class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-left:5px;">Search</button>
        </div>
      </nav>
    </div>
  </header>
