<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" type="image/x-icon" href="image/logo1.png" />
  <title>BitTrade </title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/stylesheet.css">

</head>
<style>
  .thumbnail {
    margin: 1px;
    height: 50;
    width: 50;
    float: left;
  }

  .custom-card {

    height: 500px;
    float: left;

  }

  .wrapper {

    display: inline-block;
    margin-left: auto;

  }

  div#imageContainer {
    background: #ffffff;
    height: 500px;
    width: 470px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  .clear {

    clear: both;
  }
</style>

<body>

  <!--Body-->
  <%- include ../partials/header.ejs -%>
  <!-- Page Content -->
  <div class="custom-container">


    <div class="ad-info" style="min-width:1450px;">


      <div class="picture-section" style="float:left">



        
      <div class="ad-picture">
        <div id="imageContainer">
          <img src="http://placehold.it/50x50" alt="" style="max-width:100%;max-height:100%;" />

        </div>
      </div>


      <div class="thumbnail-section" style="margin-top:5px;width:470px;text-align: center;">
        <div class="wrapper">
          <% for(let i=1;i<=6;i++){ %>
          <!-- Card for each product -->
          <div class="thumbnail">
            <img src="http://placehold.it/150X1450" height="50" width="50" alt="">
          </div>
          <% } %>
        </div>
      </div>
  
      <div class="clear"></div>





      </div>


      <div class="custom-card" style="background-color:#f3efef;width: 45%;">

        


      </div>
      <div class="custom-card card" style="width:20%">


      </div>
    </div>

    <div class="clear"></div>




 


    <div class="ad-info" style="margin-top:30px">
      <ul class="nav nav-tabs" id="myTab" role="tablist" style="border-color: rgb(178, 175, 180);">
        <li class="nav-item">
          <a class="nav-link active" id="description-tab" data-toggle="tab" href="#delivery" role="tab"
            aria-controls="description" aria-selected="true">Description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment"
            aria-selected="false">Shipping & Payment </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
          <%- include ../partials/deliveryinfo %></div>
        <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">
          <%- include ../partials/paymentinfo %></div>
      </div>




    </div>










    <hr style="border:1ich solid gray" />
    <p><small>Catogory</small></p>
    <div class="row">
      <!-- row start -->

      <% for(let i=1;i<=6;i++){ %>
      <!-- Card for each product -->
      <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <div class="card">
          <a href="#"><img class="card-img-top" src="http://placehold.it/150X150" height="150" width="150" alt=""></a>
          <div class="card-body">
            <p class="card-title">
              <a href="#">Item </a>
            </p>
          </div>
        </div>
      </div>




      <% } %>


    </div>
    <!-- row end -->



  </div>
  <!-- /.custom-container -->

  </div>
  <!-- Footer -->

  <%- include ../partials/footer -%>
  Bootstrap core JavaScript




  <!-- Bootstrap core JavaScript -->

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>

</html>